

<footer>
    
 
 Designed by <a class="owner" target ="blank"href="https://www.aungyang.com/"><b>Aung Yang</b></a> | <a target="blank" href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
</footer>

</body>
</html>